<% @title="Home" %>

  <div id="all">
    <div class="span9" id="nav">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
          </ul>
        </div>
      </div>
    </div>
    <div id="content-outer">
      <div id="content">
    </div>
  </div>
  </div>

  <script type="text/javascript">
    window.router = new App.Routers.Router();
    Backbone.history.start();
  </script>
