<% @title="Success!" %>
<div style="width:350px; text-align: center ;margin: 10px auto;">
  <div class="alert alert-success">
    <strong>Success!</strong> Database was reset to demo data.
  </div>
  Go <a href="/#companies/<%= j @mega._id.to_s -%>">here</a> for the new company.
</div>
